//primary data series colors
$blue: #2975e9;
$orange: #f7922e;
$teal: #3ed6cf;
$purple: #b35cff;
$green: #43b649;
$brown: #b7661a;

//secondary data series colors
$half-blue: #8eb7f4;
$half-orange: #ffc387;
$half-teal: #ade4e1;
$half-purple: #d3bae9;
$half-green: #9de0a0;
$half-brown: #d6af8b;

//gridlines and labels
$gridline-grey: #CED2D4;
$gridline-text-grey: #9ca7ac;
