//primary data series colors
$blue: #297DFD;
$orange: #f7922e;
$teal: #37D6CC;
$purple: #995BB5;
$green: #43b649;
$brown: #b7661a;

//secondary data series colors
$half-blue: #8eb7f4;
$half-orange: #ffc387;
$half-teal: #ade4e1;
$half-purple: #d3bae9;
$half-green: #9de0a0;
$half-brown: #d6af8b;

//gridlines and labels
$gridline-grey: #CED3D6;
$gridline-text-grey: #7C7B7A;
$title-grey: #3A4F5A;
