.a-path, .connectors {
  stroke-width: 2px;
}

.a-path {
  fill: none;
}

.connectors {
  fill: white;
}

.circle-blue, .line-blue {
  stroke: $blue;
}

.circle-orange, .line-orange {
  stroke: $orange;
}

.circle-teal, .line-teal {
  stroke: $teal;
}

.circle-purple, .line-purple {
  stroke: $purple;
}

.circle-green, .line-green {
  stroke: $green;
}

.circle-brown, .line-brown {
  stroke: $brown;
}
