@import 'colors';

.axis {
  path {
    stroke: none;
    fill: none;
  }

  line {
    stroke: $gridline-grey;
    fill: none;
  }
}

.blue {
  fill: $blue;
}

.orange {
  fill: $orange;
}

.teal {
  fill: $teal;
}

.purple {
  fill: $purple;
}

.green {
  fill: $green;
}

.brown {
  fill: $brown;
}
